<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Review Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
    <link rel="stylesheet" href="/stylesheet/app.css">
</head>
<body>
<header>
        <div class="ui inverted menu">
                <div class="header item" >
                  <a href="/movies">
                    <i  class="film icon"></i>
                  </a>
                  Movie Review
                </div>
                <a class="item" href="/movies">
                  Home
                </a>
                <a class="item" href="/movies/new">
                  New Review
                </a>
              </div>
</header>
